@{
    ViewData["Title"] = "Music Store Generator";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="toolbar">
    <div class="toolbar-group">
        <label>Language</label>
        <select id="languageSelect">
            <option value="en-US">English (US)</option>
            <option value="uk-UA">Ukrainian</option>
        </select>
    </div>

    <div class="toolbar-group">
        <label>Seed</label>
        <div class="seed-box">
            <input type="number" id="seedInput" value="58933423" />
            <button id="shuffleBtn">🔀</button>
        </div>
    </div>

    <div class="toolbar-group wide">
        <label>Likes</label>
        <input type="range" id="likesSlider" min="0" max="10" step="1" value="0" />
    </div>
</div>

<table id="musicTable">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

<script src="~/js/site.js"></script>
